html {
  font-family: Helvetica;
  background-color: lightgrey;
}

h3 {
  text-align: center;
}

li {
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

.linkspc {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.bottom {
  margin-bottom: 3%;
}

.top {
  margin-top: 3%;
}
